.forms {
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    border-radius: 30px;
}

.inputBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 50px;
}

.label {
    font-size: 1.275rem;
    margin: 10px;
    /* margin: 0 auto; */
}

.input {
    font-size: 1.25rem;
    background: none;
    border: none;
    border-bottom: 1px solid #111111;
    width: 100px;
    height: 25px;
    margin-left: auto;
}

.btn {
    background-color: #111111;
    padding: 1.25em;
    font-size: 0.5625em;
    text-decoration: none;
    color: #ffffff;
    border-radius: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: #111111;
}
@media screen and (max-width: 767px) {
    /** Mobile */
    .forms {
        /* height: 90%; */
        width: 80%;
    }

    .label {
        font-size: 0.875rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .label {
        font-size: 1.275rem;
    }
}

@media all and (max-width: 1023px) {
    /** Mobile & Tablet  */
}
