.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  /** Mobile */
}

@media all and (min-width: 768px) and (max-width: 1023px) {
}

@media all and (max-width: 1023px) {
  /** Mobile & Tablet  */
}
