.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.itemGoal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0;
}

.itemGoal p {
    margin: 0 auto;
}

.itemChart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
}
