.main {
  display: grid;
  height: calc(100vh - 100px);
  width: 100%;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.itemGoal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
}

.itemChart {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 30px;
  height: 100%;
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    /* grid-row: ; */
  }

  .itemChart {
    grid-column: 1;
    grid-row: 1;
  }
}
