.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
}
.message {
  width: 20%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
