.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
}

.main h1 {
  font-size: 6.25em;
  font-weight: bold;
  margin: 100px 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 60%;
  border-radius: 20px;
}

.item {
  font-size: 2em;
  margin: 50px 0;
}

@media screen and (max-width: 767px) {
  /** Mobile */
  .main h1 {
    font-size: 5em;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
}

@media all and (max-width: 1023px) {
  /** Mobile & Tablet  */
}
