.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  width: 50%;
  font-size: 1.25em;
  text-align: start;
}

.item label {
  color: #495057;
}

.item input {
  margin-top: 10px;
  /* margin-left: 0 auto; */
  font-size: 1.5em;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.btn {
  background-color: #111111;
  padding: 1.45em;
  font-size: 1em;
  text-decoration: none;
  color: #ffffff;
  border-radius: 100px;
  border: 1px solid #111111;
  transition: 0.2s;
  width: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  color: #111111;
}

.email {
  display: none;
}
