.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.Btnform {
    height: 200px;
    width: 500px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
}

.Btnform h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}

.btn {
    margin: 20px;
    background: #96b6c5;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: #c59696;
}

.first {
    background: #c59696;
}

.email {
    display: none;
}
