.body {
  width: 100%;
  height: 80%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
}

.cell {
  display: flex;
  height: 100px;
  width: 100%;
  font-size: 1.5625em;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(1, 1, 1, 0.2);
}

.prevMonth {
  color: rgba(1, 1, 1, 0);
}

.currentDay {
  color: rgba(1, 1, 1, 1);
  /* background-color: #c4fcef; */
  cursor: pointer;
}

.check {
  position: relative;
}

.check::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/images/stamp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.25em;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cellspan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}
